.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.2rem;
}
.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    gap: 0.4rem;
    font-size: 4.2rem;
    font-weight: bold;
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}
.logoLink:hover {
    filter: brightness(80%);
}
.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}
