.buttonContaine button {
    min-width: auto;
    margin: 0;
    padding: 1rem;
}

.buttonContaine button svg {
    width: 2rem;
    height: 2rem;
}
.noTasks {
    font-size: 1.8rem;
    max-width: 32rem;
    text-align: center;
}

.responsiveTable {
    overflow-x: auto;
    border-radius: 0.8rem;
}

.responsiveTable table {
    width: 100%;
    min-width: 64rem;
    font-size: 1.6rem;
    border-collapse: collapse;
}

.responsiveTable th {
    background-color: var(--gray-600);
    cursor: pointer;
}

.responsiveTable td {
    background-color: var(--gray-800);
}

.responsiveTable th,
.responsiveTable td {
    border-bottom: 1px solid var(--gray-500);
    text-align: left;
    padding: 1.6rem;
}
